Repository wombatwisdom/components: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-imports
        name: Go Imports
        entry: goimports
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-vet
        name: Go Vet
        entry: bash
        language: system
        files: \.go$
        args:
          - -c
          - |
            go vet -C framework ./...
            go vet -C components/aws-s3 ./...
            go vet -C components/mqtt ./...
            go vet -C components/nats ./...
            
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash
        language: system
        files: go\.mod$
        args:
          - -c
          - |
            go mod tidy -C framework
            go mod tidy -C components/aws-s3
            go mod tidy -C components/mqtt
            go mod tidy -C components/nats
            go mod tidy -C tools

fix: apply automatic goimports formatting fixes
  components/aws-s3/input_test.go
  tools/go.sum
Due: go-fmt, go-imports, go-vet

fix: correct -C flag order in go test commands
  .github/workflows/ci.yml
  Taskfile.yml
Due: none

feat: implement foundational trigger-retrieval pattern architecture
  docs/trigger-retrieval-example.md
  docs/trigger-retrieval-pattern.md
  framework/spec/components.go
  framework/spec/triggers.go
  framework/spec/triggers_test.go
Due: go-fmt, go-imports, go-vet

feat: implement EventBridge trigger input component
  components/eventbridge/config.go
  components/eventbridge/config_test.go
  components/eventbridge/errors.go
  components/eventbridge/eventbridge_suite_test.go
  components/eventbridge/go.mod
  components/eventbridge/go.sum
  components/eventbridge/trigger_input.go
  components/eventbridge/trigger_input_test.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy

feat: implement multi-mode EventBridge integration with SQS and Pipes support
  .claude/settings.local.json
  components/eventbridge/config.go
  components/eventbridge/config_test.go
  components/eventbridge/errors.go
  components/eventbridge/go.mod
  components/eventbridge/go.sum
  components/eventbridge/integration.go
  components/eventbridge/integration_pipes.go
  components/eventbridge/integration_simulation.go
  components/eventbridge/integration_sqs.go
  components/eventbridge/trigger_input.go
  components/eventbridge/trigger_input_test.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy

feat: implement multi-mode EventBridge integration with SQS and Pipes support
  .gitignore
Due: none

feat: implement S3 retrieval processor for trigger-retrieval pattern
  components/aws-s3/retrieval.go
  components/aws-s3/retrieval_unit_test.go
Due: go-fmt, go-imports, go-vet

fix: resolve formatting issues and update CI workflow
  .github/workflows/ci.yml
  components/aws-s3/go.mod
  components/aws-s3/go.sum
  components/aws-s3/retrieval.go
  components/aws-s3/retrieval_unit_test.go
  components/eventbridge/config.go
  components/eventbridge/config_test.go
  components/eventbridge/errors.go
  components/eventbridge/eventbridge_suite_test.go
  components/eventbridge/go.mod
  components/eventbridge/go.sum
  components/eventbridge/integration.go
  components/eventbridge/integration_pipes.go
  components/eventbridge/integration_simulation.go
  components/eventbridge/integration_sqs.go
  components/eventbridge/trigger_input.go
  components/eventbridge/trigger_input_test.go
  components/nats/go.mod
  components/nats/go.sum
  framework/go.mod
  framework/go.sum
  framework/spec/components.go
  framework/spec/triggers.go
  framework/spec/triggers_test.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy

fix: resolve CI workspace issues and add missing eventbridge component
  .github/workflows/ci.yml
  Taskfile.yml
  go.work
Due: none

fix: resolve test import paths and compilation errors
  framework/spec/config_test.go
  framework/spec/errors.go
  framework/spec/expr_test.go
  framework/spec/integration_test.go
  framework/spec/resources_test.go
  framework/spec/schema_test.go
  framework/test/mocks.go
Due: go-fmt, go-imports, go-vet

feat: implement MessageExpressionContext and update documentation
  components/aws-s3/go.sum
  components/eventbridge/trigger_input.go
  components/mqtt/go.sum
  components/nats/go.sum
  framework/core/expr.go
  framework/go.mod
  framework/go.sum
  framework/spec/components.go
  go.work.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

feat: implement expr-lang based field evaluator to replace CEL
  framework/core/core_suite_test.go
  framework/core/evaluator.go
  framework/core/evaluator_test.go
  framework/core/expr.go
  framework/core/expr_evaluator.go
  framework/go.mod
  framework/go.sum
  go.work
  go.work.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

chore: sync workspace dependencies and update go.mod files
  components/aws-s3/go.mod
  components/aws-s3/go.sum
  components/eventbridge/go.mod
  components/eventbridge/go.sum
  components/mqtt/go.mod
  components/mqtt/go.sum
  components/nats/go.mod
  components/nats/go.sum
  framework/go.mod
  framework/go.sum
Due: go-mod-tidy

feat: add comprehensive CI local checking to prevent CI failures
  Taskfile.yml
  go.work.sum
  scripts/ci-local.sh
Due: none

feat: implement expr-lang based field evaluator to replace CEL (#18)
  Taskfile.yml
  components/aws-s3/go.mod
  components/aws-s3/go.sum
  components/eventbridge/go.mod
  components/eventbridge/go.sum
  components/mqtt/go.mod
  components/mqtt/go.sum
  components/nats/go.mod
  components/nats/go.sum
  framework/core/core_suite_test.go
  framework/core/evaluator.go
  framework/core/evaluator_test.go
  framework/core/expr.go
  framework/core/expr_evaluator.go
  framework/go.mod
  framework/go.sum
  go.work
  go.work.sum
  scripts/ci-local.sh
Due: go-fmt, go-imports, go-vet, go-mod-tidy

feat: migrate test framework from CEL to expr-lang
  .claude/settings.local.json
  framework/go.mod
  framework/go.sum
  framework/spec/evaluator.go
  framework/test/context.go
  framework/test/env.go
  framework/test/field.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy

removed lingering backup files
  Taskfile.yml.backup
  fmt_issues.txt
Due: none

fix: update ci:test to match ci:local functionality and fix formatting
  Taskfile.yml
  components/aws-s3/go.mod
  components/aws-s3/go.sum
  components/eventbridge/go.mod
  components/eventbridge/go.sum
  components/mqtt/go.mod
  components/mqtt/go.sum
  components/nats/go.mod
  components/nats/go.sum
  framework/go.mod
  framework/go.sum
  framework/spec/evaluator.go
  framework/test/field.go
  go.work.sum
  scripts/format-check.sh
Due: go-fmt, go-imports, go-vet, go-mod-tidy

fix: resolve CI formatting check conflicts in workflow
  .github/workflows/ci.yml
Due: none

feat: add IBM MQ component with System/Input/Output implementation
  CLAUDE.md
  Taskfile.yml
  components/mq/README.md
  components/mq/Taskfile.yml
  components/mq/go.mod
  components/mq/go.sum
  components/mq/input.go
  components/mq/input_config.go
  components/mq/input_config.schema.yaml
  components/mq/mq_suite_test.go
  components/mq/output.go
  components/mq/output_config.go
  components/mq/output_config.schema.yaml
  components/mq/stub.go
  components/mq/system.go
  components/mq/system_config.go
  components/mq/system_config.schema.yaml
  components/mq/system_test.go
  components/nats/core/input.go
  components/nats/core/input_config.go
  components/nats/core/input_config.schema.yaml
  components/nats/core/nats_suite_test.go
  components/nats/core/output.go
  components/nats/core/output_config.go
  components/nats/core/output_config.schema.yaml
  components/nats/core/system.go
  components/nats/core/system_config.go
  components/nats/core/system_config.schema.yaml
  components/nats/core/system_test.go
  go.work
Due: go-fmt, go-imports, go-vet, go-mod-tidy

refactor: update NATS component structure and add jetstream support
  components/nats/core/input.go
  components/nats/core/input_config.go
  components/nats/core/nats_suite_test.go
  components/nats/core/output.go
  components/nats/core/output_config.go
  components/nats/core/system.go
  components/nats/core/system_config.go
  components/nats/core/system_test.go
  components/nats/jetstream_system.go
  components/nats/nats.go
  components/nats/nats_stream_config.schema.yaml
  components/nats/nats_stream_input.go
  components/nats/nats_stream_output.go
Due: go-fmt, go-imports, go-vet

fix: remove IDE workspace file from tracking
  .idea/workspace.xml
Due: none

added the repo-token to the setup-task action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

adding claude commands
  .claude/commands/build
  .gitignore
Due: none

making tasks silent
  Taskfile.yml
  components/aws-s3/Taskfile.yml
  components/mq/Taskfile.yml
  components/mqtt/Taskfile.yml
  components/nats/Taskfile.yml
Due: none

refactor: implement reusable taskfile system and modernize CI workflows
  .claude/commands/build.md
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/release.yml
  Taskfile.yml
  components/Taskfile.yml
  components/_common/Taskfile.yml
  components/aws-eventbridge/Taskfile.yml
  components/aws-eventbridge/config.go
  components/aws-eventbridge/config_test.go
  components/aws-eventbridge/errors.go
  components/aws-eventbridge/eventbridge_suite_test.go
  components/aws-eventbridge/go.mod
  components/aws-eventbridge/go.sum
  components/aws-eventbridge/integration.go
  components/aws-eventbridge/integration_pipes.go
  components/aws-eventbridge/integration_simulation.go
  components/aws-eventbridge/integration_sqs.go
  components/aws-eventbridge/trigger_input.go
  components/aws-eventbridge/trigger_input_test.go
  components/aws-s3/Taskfile.yml
  components/ibm-mq/README.md
  components/ibm-mq/Taskfile.yml
  components/ibm-mq/go.mod
  components/ibm-mq/go.sum
  components/ibm-mq/input.go
  components/ibm-mq/input_config.go
  components/ibm-mq/input_config.schema.yaml
  components/ibm-mq/mq_suite_test.go
  components/ibm-mq/output.go
  components/ibm-mq/output_config.go
  components/ibm-mq/output_config.schema.yaml
  components/ibm-mq/stub.go
  components/ibm-mq/system.go
  components/ibm-mq/system_config.go
  components/ibm-mq/system_config.schema.yaml
  components/ibm-mq/system_test.go
  components/mq/Taskfile.yml
  framework/Taskfile.yml
  go.work
Due: go-fmt, go-imports, go-vet, go-mod-tidy

fix: resolve NATS StreamConfig code generation and pointer handling
  components/nats/Taskfile.yml
  components/nats/nats_stream_input.go
Due: go-fmt, go-imports, go-vet

fix: add generated nats_stream_config.go to repository
  .gitignore
  components/nats/nats_stream_config.go
Due: go-fmt, go-imports, go-vet

fix: resolve CI issues and add missing tasks
  .github/workflows/ci.yml
  Taskfile.yml
  components/Taskfile.yml
  components/_common/Taskfile.yml
  components/aws-eventbridge/Taskfile.yml
  components/aws-s3/Taskfile.yml
  components/ibm-mq/Taskfile.yml
  components/mqtt/Taskfile.yml
  components/nats/Taskfile.yml
  framework/Taskfile.yml
  scripts/ci-local.sh
Due: none

feat: add comprehensive release management system
  RELEASE.md
  Taskfile.yml
Due: none

fix: remove internal flag from release tasks to allow proper task execution
  Taskfile.yml
Due: none

feat: update GitHub release workflow for multi-component structure
  .github/workflows/release.yml
Due: none

fix: add contents write permission to release workflow for creating releases
  .github/workflows/release.yml
Due: none

chore: fmt
  bundles/nats/nats_stream_config.go
Due: go-fmt, go-imports, go-vet

chore: Taskfile
  Taskfile.yml
Due: none

chore: Taskfile namespace
  Taskfile.yml
  bundles/nats/nats_stream_config.go
Due: go-fmt, go-imports, go-vet

fix: dont block forever by waiting on closed channel
  bundles/mqtt/input_test.go
  bundles/mqtt/roundtrip_test.go
  framework/test/collect.go
Due: go-fmt, go-imports, go-vet
