Repository wombatwisdom/components: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-imports
        name: Go Imports
        entry: goimports
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-vet
        name: Go Vet
        entry: bash
        language: system
        files: \.go$
        args:
          - -c
          - |
            go vet -C framework ./...
            go vet -C components/aws-s3 ./...
            go vet -C components/mqtt ./...
            go vet -C components/nats ./...
            
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash
        language: system
        files: go\.mod$
        args:
          - -c
          - |
            go mod tidy -C framework
            go mod tidy -C components/aws-s3
            go mod tidy -C components/mqtt
            go mod tidy -C components/nats
            go mod tidy -C tools

make ibm mq input sync
  bundles/ibm-mq/input.go
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/output_test.go
  bundles/ibm-mq/roundtrip_test.go
Due: go-fmt, go-imports, go-vet

fix: readme, Taskfile and CI
  .github/workflows/ci.yml
  README.md
  Taskfile.yml
  bundles/Taskfile.yml
  bundles/ibm-mq/Dockerfile
  bundles/ibm-mq/README.md
  bundles/ibm-mq/Taskfile.yml
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/mq_suite_test.go
  bundles/ibm-mq/output_config.go
  bundles/ibm-mq/output_test.go
  bundles/ibm-mq/roundtrip_test.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

remove references to MQ_INSTALLATION_PATH
  .github/workflows/ci.yml
  bundles/ibm-mq/Taskfile.yml
Due: none

fix ci
  .github/workflows/ci.yml
Due: none

fix: flag hardcoded testcontainer credentials
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/mq_suite_test.go
  bundles/ibm-mq/output_test.go
Due: go-fmt, go-imports, go-vet

fix: Make docker in docker work
  bundles/ibm-mq/Taskfile.yml
Due: none

add documentation for docker-in-docker tests
  README.md
Due: none

fix: metadata filtering
  bundles/ibm-mq/Taskfile.yml
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_test.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

fix: format, ccsid, encoding
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_config.go
  bundles/ibm-mq/output_test.go
Due: go-fmt, go-imports, go-vet

fix: tls support
  bundles/ibm-mq/common.go
  bundles/ibm-mq/input.go
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/mq_suite_test.go
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_test.go
Due: go-fmt, go-imports, go-vet

cleanup
  bundles/mqtt/output.go
Due: go-fmt, go-imports, go-vet

fix: transactionality
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_test.go
Due: go-fmt, go-imports, go-vet

fix: include hostname in Application Name
  bundles/ibm-mq/input.go
  bundles/ibm-mq/output.go
Due: go-fmt, go-imports, go-vet

bump go to 1.25.1
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/release.yml
  go.mod
Due: go-mod-tidy

bump go to 1.25.1 (#74)
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/release.yml
  go.mod
Due: go-mod-tidy

fix: disconnect mqtt input on downstream failure
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

fix: disconnect mqtt input on downstream failure
  bundles/mqtt/input.go
Due: go-fmt, go-imports, go-vet

dont disconnect immidiately on connection lost
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

return errors
  bundles/ibm-mq/input.go
  bundles/ibm-mq/output.go
Due: go-fmt, go-imports, go-vet

update ibm mq stub implementation to match actual implementation return types (linting)
  bundles/ibm-mq/stub.go
Due: go-fmt, go-imports, go-vet

ibmmq: only close input when initialized
  bundles/ibm-mq/input.go
  bundles/ibm-mq/output_test.go
Due: go-fmt, go-imports, go-vet

MQ: revert in-flight messages on Close()
  bundles/ibm-mq/input.go
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/roundtrip_test.go
Due: go-fmt, go-imports, go-vet

add init check on MQ output
  bundles/ibm-mq/output.go
Due: go-fmt, go-imports, go-vet

MQ: add support for expressions
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_config.go
  bundles/ibm-mq/output_test.go
  bundles/ibm-mq/roundtrip_test.go
Due: go-fmt, go-imports, go-vet

add testcontainers as test dependency
  go.mod
  go.sum
Due: go-mod-tidy

formatting
  bundles/ibm-mq/input.go
Due: go-fmt, go-imports, go-vet

undo gitignore
  .gitignore
Due: none

undo .idea
  .idea/components.iml
Due: none

cleanup config
  bundles/ibm-mq/config.go
  bundles/ibm-mq/input_config.go
  bundles/ibm-mq/output_config.go
Due: go-fmt, go-imports, go-vet

remove unused config fields
  bundles/ibm-mq/config.go
  bundles/ibm-mq/stub.go
Due: go-fmt, go-imports, go-vet

cleanup comments
  bundles/ibm-mq/input.go
  bundles/ibm-mq/output.go
Due: go-fmt, go-imports, go-vet

add support for batches
  bundles/ibm-mq/config.go
  bundles/ibm-mq/input.go
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/output_test.go
Due: go-fmt, go-imports, go-vet

fix batch wait behavior: Do not wait on first message, wait wat_time to fill batch to batch_size and return ErrNoData on no first message
  bundles/ibm-mq/config.go
  bundles/ibm-mq/input.go
  bundles/ibm-mq/stub.go
Due: go-fmt, go-imports, go-vet

Feature/ibm mq (#67)
  .github/workflows/ci.yml
  README.md
  Taskfile.yml
  bundles/Taskfile.yml
  bundles/ibm-mq/Dockerfile
  bundles/ibm-mq/README.md
  bundles/ibm-mq/Taskfile.yml
  bundles/ibm-mq/config.go
  bundles/ibm-mq/input.go
  bundles/ibm-mq/input_config.go
  bundles/ibm-mq/input_config.schema.yaml
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/mq_suite_test.go
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_config.go
  bundles/ibm-mq/output_config.schema.yaml
  bundles/ibm-mq/output_test.go
  bundles/ibm-mq/roundtrip_test.go
  bundles/ibm-mq/stub.go
  bundles/ibm-mq/system.go
  bundles/ibm-mq/system_config.go
  bundles/ibm-mq/system_config.schema.yaml
  bundles/ibm-mq/system_test.go
  framework/test/context.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

fix: set mqtt client to nil on disconnect
  bundles/mqtt/input.go
Due: go-fmt, go-imports, go-vet

log on MQTT connect
  bundles/mqtt/input.go
Due: go-fmt, go-imports, go-vet

allow paho to reconnect
  bundles/mqtt/client.go
Due: go-fmt, go-imports, go-vet

Revert "allow paho to reconnect"
  bundles/mqtt/client.go
Due: go-fmt, go-imports, go-vet
