Repository wombatwisdom/components: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-imports
        name: Go Imports
        entry: goimports
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-vet
        name: Go Vet
        entry: bash
        language: system
        files: \.go$
        args:
          - -c
          - |
            go vet -C framework ./...
            go vet -C components/aws-s3 ./...
            go vet -C components/mqtt ./...
            go vet -C components/nats ./...
            
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash
        language: system
        files: go\.mod$
        args:
          - -c
          - |
            go mod tidy -C framework
            go mod tidy -C components/aws-s3
            go mod tidy -C components/mqtt
            go mod tidy -C components/nats
            go mod tidy -C tools

chore: make framework part of unified module
  framework/go.mod
  framework/go.sum
  go.mod
  go.sum
  go.work
Due: go-mod-tidy

fix: automerge action
  .github/workflows/dependabot-automerge.yml
Due: none

chore: make tools part of main module
  .gitignore
  go.mod
  go.work
  go.work.sum
  tools/go.mod
  tools/go.sum
  tools/scripts/generate-component.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy

chore: make tools part of main module
  Taskfile.yml
  scripts/ci-local.sh
Due: none

fix: MQTT race condition in roundtrip test
  bundles/mqtt/roundtrip_test.go
Due: go-fmt, go-imports, go-vet

fix: make framework part of unified module (circular dependency) (#23)
  .gitignore
  Taskfile.yml
  bundles/mqtt/roundtrip_test.go
  framework/go.mod
  framework/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  scripts/ci-local.sh
  tools/go.mod
  tools/go.sum
  tools/scripts/generate-component.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy

feature: implement at-least-once processing for mqtt v3
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/mqtt/manual_ack_collector.go
  bundles/mqtt/tracked_message.go
Due: go-fmt, go-imports, go-vet

refactor: simplify MQTT implementation and remove framework/core abstractions
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/mqtt/manual_ack_collector.go
  bundles/mqtt/message.go
  bundles/mqtt/output.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  bundles/mqtt/tracked_message.go
  framework/core/ack.go
  framework/core/batch.go
  framework/core/components.go
  framework/core/context.go
  framework/core/core_suite_test.go
  framework/core/evaluator.go
  framework/core/evaluator_test.go
  framework/core/expr.go
  framework/core/expr_evaluator.go
  framework/core/message.go
  framework/core/registry.go
  framework/core/system.go
  framework/spec/message.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

fix: initialize ComponentContext in MQTT tests
  bundles/mqtt/input_test.go
  bundles/mqtt/output_test.go
Due: go-fmt, go-imports, go-vet

refactor: update MQTT to use spec.Expression instead of DynamicField
  bundles/mqtt/output.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  framework/spec/environment.go
  framework/test/env.go
  framework/test/field.go
Due: go-fmt, go-imports, go-vet

feature: implement at-least-once processing for mqtt v3 (#34)
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/mqtt/message.go
  bundles/mqtt/output.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  framework/core/ack.go
  framework/core/batch.go
  framework/core/components.go
  framework/core/context.go
  framework/core/core_suite_test.go
  framework/core/evaluator.go
  framework/core/evaluator_test.go
  framework/core/expr.go
  framework/core/expr_evaluator.go
  framework/core/message.go
  framework/core/registry.go
  framework/core/system.go
  framework/spec/environment.go
  framework/spec/message.go
  framework/test/context.go
  framework/test/env.go
  framework/test/field.go
Due: go-fmt, go-imports, go-vet

removed obsolete functions
  framework/spec/context.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

Fix Context Issues (#35)
  framework/spec/context.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

feat: mqtt input should not ack when context is closed
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

feat: mqtt input should not ack when client is not connected
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

fix: use client id
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

feat: mqtt input should not ack when context is closed (#36)
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

fix: solve race condition in mqtt input test by sleeping until mqtt subscription is ready
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

fix: solve race condition in mqtt input test by sleeping until mqtt subscription is ready (#37)
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

chore: use goreleaser
  .github/workflows/release.yml
  .goreleaser.yml
  RELEASE.md
  Taskfile.yml
  bundles/Taskfile.yml
  bundles/_common/Taskfile.yml
  bundles/aws-eventbridge/Taskfile.yml
  bundles/aws-s3/Taskfile.yml
  bundles/ibm-mq/Taskfile.yml
  bundles/mqtt/Taskfile.yml
  bundles/mqtt/input.go
  bundles/nats/Taskfile.yml
  bundles/nats/nats_stream_config.go
  framework/Taskfile.yml
Due: go-fmt, go-imports, go-vet

chore: use goreleaser (#45)
  .github/workflows/release.yml
  .goreleaser.yml
  RELEASE.md
  Taskfile.yml
  bundles/Taskfile.yml
  bundles/_common/Taskfile.yml
  bundles/aws-eventbridge/Taskfile.yml
  bundles/aws-s3/Taskfile.yml
  bundles/ibm-mq/Taskfile.yml
  bundles/mqtt/Taskfile.yml
  bundles/mqtt/input.go
  bundles/nats/Taskfile.yml
  bundles/nats/nats_stream_config.go
  framework/Taskfile.yml
Due: go-fmt, go-imports, go-vet

chore: typo in taskfile
  Taskfile.yml
Due: none

chore: lint
  bundles/aws-s3/retrieval_unit_test.go
  bundles/ibm-mq/stub.go
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/nats/nats_stream_output.go
  bundles/nats/test/auth.go
  bundles/nats/test/decentralized.go
  framework/spec/integration_test.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

chore: lint (#46)
  bundles/aws-s3/retrieval_unit_test.go
  bundles/ibm-mq/stub.go
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/nats/nats_stream_output.go
  bundles/nats/test/auth.go
  bundles/nats/test/decentralized.go
  framework/spec/integration_test.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

chore: separate release actions for final and RC releases
  .github/workflows/release.yml
Due: none

chore: separate release actions for final and RC releases (#47)
  .github/workflows/release.yml
Due: none

add test coverage for expr lang interpolation
  bundles/mqtt/output_topic_interpolation_test.go
Due: go-fmt, go-imports, go-vet

fix race condition
  bundles/mqtt/output_topic_interpolation_test.go
Due: go-fmt, go-imports, go-vet

make ww_mqtt_3 topic a spec.Expression.
  bundles/mqtt/client.go
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/mqtt/output.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  bundles/nats/nats_stream_config.go
Due: go-fmt, go-imports, go-vet

use expression in output test
  bundles/mqtt/output_test.go
Due: go-fmt, go-imports, go-vet

add interpolation
  bundles/mqtt/output.go
  bundles/mqtt/output_interpolation_test.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  framework/spec/context.go
  framework/spec/interpolated.go
  framework/spec/interpolation_expression.go
  framework/spec/interpolation_parser.go
  framework/spec/interpolation_resolver.go
  framework/spec/interpolation_test.go
  framework/test/context.go
  go.mod
Due: go-fmt, go-imports, go-vet, go-mod-tidy

use embedded mqtt server for testing
  bundles/mqtt/output_interpolation_test.go
  framework/spec/interpolation_test.go
Due: go-fmt, go-imports, go-vet

feat: add interpolation
  bundles/mqtt/client.go
  bundles/mqtt/input.go
  bundles/mqtt/input_test.go
  bundles/mqtt/output.go
  bundles/mqtt/output_interpolation_test.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  framework/spec/context.go
  framework/spec/interpolated.go
  framework/spec/interpolation_expression.go
  framework/spec/interpolation_parser.go
  framework/spec/interpolation_resolver.go
  framework/spec/interpolation_test.go
  framework/test/context.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

bump go version
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/release.yml
Due: none

fixed interpolation and externalized the expressions
  bundles/mqtt/output.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  bundles/nats/Taskfile.yml
  bundles/nats/core/input_config.schema.yaml
  bundles/nats/core/output.go
  bundles/nats/core/output_config.go
  bundles/nats/core/output_config.schema.yaml
  bundles/nats/core/system_config.go
  bundles/nats/core/system_config.schema.yaml
  bundles/nats/nats_stream_config.go
  bundles/nats/nats_stream_config.schema.yaml
  bundles/nats/nats_stream_input.go
  bundles/nats/nats_stream_output.go
  framework/spec/context.go
  framework/spec/evaluator.go
  framework/spec/expr.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

fixed the validation task for nats
  bundles/nats/Taskfile.yml
Due: none

fixed interpolation and externalized the expressions (#63)
  bundles/mqtt/output.go
  bundles/mqtt/output_test.go
  bundles/mqtt/roundtrip_test.go
  bundles/nats/Taskfile.yml
  bundles/nats/core/input_config.schema.yaml
  bundles/nats/core/output.go
  bundles/nats/core/output_config.go
  bundles/nats/core/output_config.schema.yaml
  bundles/nats/core/system_config.go
  bundles/nats/core/system_config.schema.yaml
  bundles/nats/nats_stream_config.go
  bundles/nats/nats_stream_config.schema.yaml
  bundles/nats/nats_stream_input.go
  bundles/nats/nats_stream_output.go
  framework/spec/context.go
  framework/spec/evaluator.go
  framework/spec/expr.go
  framework/test/context.go
Due: go-fmt, go-imports, go-vet

it compiles
  .gitignore
  .idea/components.iml
  bundles/ibm-mq/input.go
  bundles/ibm-mq/mq_suite_test.go
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_config.go
  bundles/ibm-mq/output_test.go
  bundles/ibm-mq/stub.go
  bundles/ibm-mq/system.go
  bundles/mqtt/output.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

tests pass
  bundles/ibm-mq/Taskfile.yml
  bundles/ibm-mq/common.go
  bundles/ibm-mq/input.go
  bundles/ibm-mq/input_config.go
  bundles/ibm-mq/input_config.schema.yaml
  bundles/ibm-mq/input_test.go
  bundles/ibm-mq/output.go
  bundles/ibm-mq/output_config.go
  bundles/ibm-mq/output_config.schema.yaml
  bundles/ibm-mq/output_test.go
  bundles/ibm-mq/roundtrip_test.go
  bundles/ibm-mq/stub.go
  bundles/ibm-mq/system.go
  bundles/ibm-mq/system_config.go
  bundles/ibm-mq/system_config.schema.yaml
  bundles/ibm-mq/system_test.go
Due: go-fmt, go-imports, go-vet
