Repository wombatwisdom/components: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-imports
        name: Go Imports
        entry: goimports
        language: system
        files: \.go$
        args: [-w]
        
      - id: go-vet
        name: Go Vet
        entry: bash
        language: system
        files: \.go$
        args:
          - -c
          - |
            go vet -C framework ./...
            go vet -C components/aws-s3 ./...
            go vet -C components/mqtt ./...
            go vet -C components/nats ./...
            
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash
        language: system
        files: go\.mod$
        args:
          - -c
          - |
            go mod tidy -C framework
            go mod tidy -C components/aws-s3
            go mod tidy -C components/mqtt
            go mod tidy -C components/nats
            go mod tidy -C tools

revert re-create paho client
  bundles/mqtt/input.go
Due: go-fmt, go-imports, go-vet

rely on paho mqtt reconnection
  bundles/mqtt/client.go
  bundles/mqtt/input.go
  bundles/mqtt/output.go
Due: go-fmt, go-imports, go-vet

fix: lint
  bundles/mqtt/input.go
Due: go-fmt, go-imports, go-vet

add clean session config to mqtt output
  bundles/mqtt/output.go
Due: go-fmt, go-imports, go-vet

Fix: rely on paho mqtt client reconnection for ww_mqtt_3 (#88)
  bundles/mqtt/client.go
  bundles/mqtt/input.go
  bundles/mqtt/output.go
Due: go-fmt, go-imports, go-vet

fix: infinite read in mqtt input test
  bundles/mqtt/input_test.go
Due: go-fmt, go-imports, go-vet

add mochi persistence conf for testing
  bundles/mqtt/input_test.go
  bundles/mqtt/mqtt_suite_test.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

fix: infinite read in mqtt input test (#106)
  bundles/mqtt/input_test.go
  bundles/mqtt/mqtt_suite_test.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy

bump github.com/expr-lang/expr to v1.17.7 (https://pkg.go.dev/vuln/GO-2025-4245)
  go.mod
  go.sum
Due: go-mod-tidy

pin goreleaser to v2.12.7
  Taskfile.yml
Due: none

pin goreleaser to v2.12.7 (#126)
  Taskfile.yml
Due: none

bump github.com/expr-lang/expr to v1.17.7 (https://pkg.go.dev/vuln/GO-2025-4245) (#125)
  go.mod
  go.sum
Due: go-mod-tidy

fix: ibm-mq stub now correctly handles TLS config
  bundles/ibm-mq/stub.go
Due: go-fmt, go-imports, go-vet
